<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name%></td>
        <% order.line_items.each do |line_item| %>
          <td>
            <%= link_to line_item.product_id, "/products/#{line_item.product_id}" %>
            :
            <%= line_item.quantity %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>